<section class="card">
  <a href="/comment/{{id}}">

    <header>{{title}}<p class="stamp">
        Posted by
        {{user.username}}
        on
        {{format_time createdAt}}
      </p></header>

    <p class="content">{{content}}</p>
  </a>
</section>